@import "../global";
// Coreui
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/css/free.min.css';


#table_id_wrapper {
  .dt-buttons {
    button:first-child {
      @extend .btn-warning
    }

    button:last-child {
      @extend .btn-danger
    }
  }
}

#table_id_paginate {
  margin-top: 8px;
  span > a, a {
    padding-right: 5px;
  }
}